.div-filter-panel {
	position: fixed;
	top: 0;
	right: -480px;
	z-index: 40000;
	width: 240px;
	height: 100vh;
	padding: 12px;
	background: white;
}

.div-filter-panel-visible {
	right: 0;
	overflow-x: hidden;
	overflow-y: scroll;
	border-left: 2px solid #f8f8f8;
	transition: right 0.5s;
}

.div-button {
	position: fixed;
	top: 6px;
	right: 6px;
	float: right;
	width: 18px;
	height: 18px;
	margin: 9px;
	padding: 9px;
	color: gray;
	font-size: 14px;
	text-align: center;
}

.div-button:hover {
	color: orange;
	cursor: pointer;
}

.div-filter-label {
	color: gray;
	font-size: 12px;
}

.icon-filter {
	position: fixed;
	top: 11px;
	right: 12px;
	cursor: pointer;
}

.icon-filter:hover {
	color: orange;
}

.icon-close {
	position: relative;
	top: 12px;
	right: 12px;
	cursor: pointer;
}

.icon-close:hover {
	color: orange;
}

.div-multi-select {
	color: gray;
	font-size: 9px;
}

.div-multi-select:hover {
	color: orange;
	cursor: pointer;
}
