.div-filter-panel {
	position: fixed;
	top: 12px;
	right: 12px;
	z-index: 100000;
	overflow-x: hidden;
	overflow-y: scroll;
	width: 200px;
	max-height: 50vh;
	padding: 36px;
	border: 1px solid lightgray;
	border-radius: 24px;
	background: #f4f4f0;
}

.div-button {
	position: fixed;
	top: 12px;
	right: 12px;
	float: right;
	width: 18px;
	height: 18px;
	margin: 9px;
	padding: 9px;
	border-radius: 18px;
	background: lightgray;
	color: gray;
	font-size: 14px;
	text-align: center;
}

.div-button:hover {
	background: gray;
	color: lightgray;
}

.div-filter-label {
	color: gray;
	font-size: 12px;
}

.img-filter {
	width: 18px;
	height: 18px;
}

.div-multi-select {
	color: lightgray;
	font-size: 9px;
}

.div-multi-select:hover {
	color: orange;
}
