/* stylelint-disable selector-max-type */
text {
	font-family: Futura;
}

svg {
	display: block;
	margin: auto;
}

.rect-category {
	stroke-width: 3px;
}

h1 {
	text-align: center;
}

.div-startup-scape {
	width: calc(100% - 320px);
}
