.div-home-page {
	margin: auto;
	padding: 6px;
}

.div-title {
	margin: 12px;
	font-size: 36px;
	text-align: center;
}

.div-sub-title {
	margin: 12px;
	color: gray;
	font-size: 27px;
	text-align: center;
}

.div-source {
	margin: 12px;
	margin-bottom: 24px;
	color: lightgray;
	font-size: 18px;
	text-align: center;
}
