.div-startup-info {
	position: fixed;
	top: 0px;
	right: -240px;
	width: 240px;
	height: 100vh;
	padding: 12px;
	background: #fcfcfc;
}

.div-startup-info-visible {
	right: 0px;
	transition: right 0.5s;
	border-left: 2px solid gray;
	overflow-x: hidden;
	overflow-y: scroll;

}
