/* stylelint-disable selector-max-type */
.div-startup-info {
	position: fixed;
	top: 0;
	right: -240px;
	z-index: 20000;
	width: 240px;
	height: 100vh;
	padding: 12px;
	background: #fcfcfc;
}

.div-startup-info-visible {
	right: 0;
	overflow-x: hidden;
	overflow-y: scroll;
	border-left: 2px solid gray;
	transition: right 0.5s;
}

.div-startup-name {
	color: gray;
	font-weight: 500;
	font-size: 24px;
}

.div-startup-tagline {
	margin-bottom: 12px;
	font-style: italic;
	font-size: 12px;
}

.div-startup-description {
	margin-bottom: 24px;
	font-size: 18px;
}

.div-label {
	margin-top: 24px;
	color: lightgray;
	font-weight: 300;
	font-size: 12px;
}

.img-startup-info {
	max-height: 32px;
}

a {
	color: gray;
	text-decoration: none;
}

a:hover {
	color: orange;
	text-decoration: none;
}

.div-hide {
	position: fixed;
	top: 6px;
	right: 6px;
	float: right;
	width: 18px;
	height: 18px;
	margin: 9px;
	padding: 9px;
	color: gray;
	font-size: 14px;
	text-align: center;
}

.div-hide:hover {
	color: orange;
	cursor: pointer;
}

.img-icon {
	position: relative;
	top: 2px;
	width: 16px;
	height: 16px;
	margin-right: 4px;
}

.div-link-item {
	vertical-align: middle;
	white-space: nowrap;
}
