/* stylelint-disable selector-max-type */
text {
	font-family: "Helvetica Neue", sans-serif;
	font-weight: 200;
}

svg {
	display: block;
	margin: auto;
}

.rect-category {
	z-index: 1000000;
	stroke-width: 3px;
}

image {
	z-index: -1000;
}
