/* stylelint-disable selector-max-type */
text {
	font-family: sans-serif;
}

svg {
	display: block;
	margin: auto;
}

.rect-category {
	stroke-width: 3px;
	z-index: 1000000;
}

image {
	z-index: -1000;
}
